{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "MAILGUN_SMTP_HOST": "smtp.mailgun.org",
    "MAILGUN_SMTP_USERNAME": "postmaster@your-domain.mailgun.org",
    "MAILGUN_SMTP_PASSWORD": "your-smtp-password-here",
    "FROM_EMAIL": "noreply@your-domain.com"
  }
}
